h3 {
  margin-top: 2.5rem;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

p:nth-last-of-type(1) {
  margin-bottom: 0;
}

footer nav ul {
  display: block;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}

footer nav ul li {
  display: inline;
}

footer nav ul li:not(:last-child) {
  margin-right: 20px;
}

h1, h3 {
  font-weight: 600;
  margin-top: 48px;
  margin-bottom: 24px;
}

footer {
  margin: 50px;
}