/*@import url("https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans");

html {
  font-family: 'Open Sans', sans-serif !important;
}

html body {
  font-family: 'Open Sans', sans-serif !important;
} */

h1,
h3 {
  font-weight: 600;
  margin-top: 48px;
  margin-bottom: 24px;
}

h3 {
  margin-top: 2.5rem;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.hire {
  color: #1eec00;
}

.stack p:nth-last-of-type(1) {
  margin-bottom: 0;
}

.stack span {
  font-weight: 700;
  font-style: italic;
}

footer nav ul {
  display: block;
  list-style: none;
  margin-left: 0;
}

ul {
  margin-bottom: 0;
}

footer nav ul li {
  display: inline;
}

footer nav ul li:not(:last-child) {
  margin-right: 20px;
}

footer {
  margin: 50px;
}

.social-media {
  margin-bottom: 1.75rem;
}

.social-media span:not(:nth-last-of-type(1)) {
  margin-right: 16px;
}

@media (max-width: 525px) {
  .social-media span {
    display: block;
  }

  .social-media span:not(:nth-last-of-type(1)) {
    margin-right: 0 !important;
    margin-bottom: 12px;
  }
}
