/*@import url("https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans");

html {
  font-family: 'Open Sans', sans-serif !important;
}

html body {
  font-family: 'Open Sans', sans-serif !important;
} */

h1 {
  margin-top: 0rem !important;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-top: 3rem;
}

h1,
h2 {
  text-align: center;
}

h3,
p {
  text-align: left;
}

p {
  margin-bottom: 1rem;
}

.header-parent {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.header {
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 525px) {
    justify-content: space-between;
  }
}

.home-intro {
  width: inherit;
  display: flex;
  flex-flow: column;

  @media screen and (max-width: 525px) {
    width: auto;
  }
}

.home-name {
  margin-top: 0rem;
  margin-bottom: 0;
}

.home-job-title {
  text-align: center;
  margin-bottom: 1.75rem;
}

.home-about {
  display: flex;
  flex-flow: row nowrap;

  @media screen and (max-width: 525px) {
    flex-flow: column nowrap;
  }
}

.home-bio {
  order: 1;

  @media screen and (max-width: 525px) {
    order: 2;
  }
}

.home-pic {
  order: 2;

  @media screen and (max-width: 525px) {
    order: 1;
  }
}

.available-for-hire {
  color: #1eec00;
  /* text-decoration: line-through; */
}

.recent-essays {
  margin-bottom: 1rem;
}

.essays {
  padding: 1.05rem 1.2rem;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.essays:hover {
  /* cursor: pointer; */
  background-color: rgb(248, 248, 248);
}

.essays-uri {
  box-shadow: none;
}

.view-archived-wrapper {
  text-align: center !important;
  margin-top: 2rem;
}

.view-archived {
  border: 1px solid;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 0.6rem;
  box-shadow: none;
}

.view-archived:active {
  text-decoration: none;
}

.main {
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.content {
  text-align: center;
  max-width: 47rem;
  margin-left: auto;
  margin-right: auto;
}

.content > div {
  text-align: left;
}

.menu {
  text-align: right;
  font-size: 14px;
  margin: 0 0.8rem;
}

.menu ul {
  display: block;
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.menu ul li {
  margin-bottom: 0;
}

.stack p:nth-last-of-type(1) {
  margin-bottom: 0;
}

.stack span {
  font-weight: 700;
  font-style: italic;
}

.social-media {
  text-align: center;
  margin: 1.75rem 0;
}

.social-media span:not(:nth-last-of-type(1)) {
  margin-right: 16px;
}

@media (max-width: 525px) {
  .social-media span {
    display: block;
  }

  .social-media span:not(:nth-last-of-type(1)) {
    margin-right: 0 !important;
    margin-bottom: 12px;
  }
}
